/* google font work sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

.section-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  border: 0;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.text-light-gray {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

/* header part styles */
.header {
  background: rgba(255, 144, 14, 0.1);
}

.header-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 0 45px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 76px;
}

nav li:last-child {
  margin-right: 0;
}

nav li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 26px;
}

.banner {
  margin-top: 102px;
}

.banner-content {
  max-width: 868px;
  margin: 0 auto 50px;
  text-align: center;
}

.banner-title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  width: 620px;
  margin: 0 auto;
}

.banner-description {
  margin-bottom: 32px;
  text-align: center;
}

.banner-image img {
  max-width: 100%;
}

/* main styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* teams part css start */
.teams-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 85px 0 130px;
}

.teams-title {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
  width: 468px;
}

.of-our {
  color: #131313;
  font-weight: 700;
}

.teams-features {
  color: #ff900e;
  font-weight: 700;
}

.teams-description {
  width: 537px;
  margin: 24px 0 32px;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-right: 76px;
}

/* teams part css end */

/* lovable features css start */
.lovable-features {
  display: flex;
  margin-bottom: 10px;
}

.feature-content {
  margin-right: 146px;
  padding-top: 40px;
}

.lovable-features .section-title {
  width: 468px;
  padding-left: 21px;
  border-left: 5px solid #ff900e;
}

.lovable-features .feature-description {
  margin: 24px 0 30px;
  width: 586px;
}

.lovable-features .card {
  padding: 30px 42px 30px 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}

.lovable-features .card .card-title {
  color: #131313;
  font-size: 1.25rem;
  font-weight: 600;
}

.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  width: 342px;
  padding: 45px 42px;
  box-sizing: border-box;
  position: relative;
  left: -92px;
  top: -151px;
}

.ten-years-badge h3 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 70px;
}

.ten-years-badge h6 {
  color: #fff;
  font-size: 1.56rem;
  text-align: center;
  font-weight: 500;
  line-height: 40px;
}
/* lovable features css end */

/* facts part css start */
.facts {
  margin-bottom: 180px;
}

.facts-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  width: 542px;
  margin-top: 24px;
}

.facts .cards {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.facts .cards .card {
  margin-right: 124px;
  padding: 45px 35px 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #ff900e;
}

.facts .cards .card:last-child {
  margin-right: 0;
}

.facts .cards .card-title {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
}

.facts .cards .card-description {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
}
/* facts part css end */

/* =========================================================================
                        Responsive Styles Start
========================================================================= */
/* responsive for small devices */
@media screen and (max-width: 576.98px) {
  nav,
  .teams-content,
  .lovable-features {
    flex-direction: column;
  }

  nav li {
    margin-right: 30px;
  }

  .banner-title {
    width: auto;
  }

  .teams-container {
    flex-direction: column-reverse;
    margin-bottom: 100px;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
    margin-right: 0;
    margin-top: 50px;
  }

  .teams-content {
    display: flex;
    align-items: center;
  }

  .teams-title {
    width: auto;
    text-align: center;
  }

  .teams-description {
    width: auto;
    text-align: center;
  }

  /* lovable features part start */

  .lovable-features {
    margin-bottom: 50px;
  }

  .lovable-features .section-title {
    width: auto;
  }

  .lovable-features .feature-description {
    width: auto;
  }

  .feature-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-img img {
    max-width: 100%;
  }

  .feature-content {
    margin-right: 0;
  }

  .ten-years-badge {
    width: 300px;
    position: static;
    margin-top: 20px;
    padding: 24px 11px;
  }

  /* facts part start */

  .facts-description {
    width: auto;
  }

  .facts .cards {
    display: grid;
  }

  .facts .cards .card {
    margin: 10px 0;
  }
}

/* responsive for medium devices */
@media screen and (min-width: 577px) and (max-width: 960.98px) {
  nav,
  .lovable-features {
    flex-direction: column;
  }

  nav li {
    margin-right: 30px;
  }

  .banner-title {
    width: auto;
  }

  .teams-container {
    flex-direction: column-reverse;
    margin-bottom: 100px;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
    margin-right: 0;
    margin-top: 50px;
  }

  .teams-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .teams-title {
    width: auto;
    text-align: center;
  }

  .teams-description {
    width: auto;
    text-align: center;
  }

  /* lovable features part start */

  .lovable-features {
    margin-bottom: 50px;
  }

  .lovable-features .section-title {
    width: auto;
  }

  .lovable-features .feature-description {
    width: auto;
  }

  .feature-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-img img {
    max-width: 100%;
  }

  .feature-content {
    margin-right: 0;
  }

  .ten-years-badge {
    width: 300px;
    position: static;
    margin-top: 20px;
    padding: 24px 11px;
  }

  /* facts part start */

  .facts-description {
    width: auto;
  }

  .facts .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .facts .cards .card {
    margin: 10px;
  }
}
